RewriteEngine On
RewriteRule ^note/create/?$ api.php?f=CREATE [NC,L]

RewriteRule ^note/update/?$ api.php?f=UPDATE [NC,L]

RewriteRule ^note/delete/?$ api.php?f=DELETE [NC,L]

RewriteRule ^note?$ api.php [NC,L]
RewriteRule ^note/([0-9]+)/?$ api.php?id=$1 [NC,L]